<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{% include head.html %}

<body class="cover-page">

{% include browser-upgrade.html %}

<div class="site-wrapper">

  <div class="site-wrapper-inner">

    {% include header.html %}

    <div class="cover-container">

      <div class="inner cover">
        <h1 class="cover-heading">kmb64 Design</h1>
        <p class="lead">
          I love creating beautiful things.
        </p>
      </div>

    </div>

  </div>

</div>

{% include scripts.html %}

</body>


</html>